<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Guess My Move</title>
    <link rel="stylesheet" type="text/css" href="./../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./../bower_components/toastr/toastr.min.css">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">

        <!-- For mobile navigation-->
        <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#">Guess My Move</a>
        <div style="display:none;" id="loggedIn"><%=data.isAuthenticated %></div>
        <ul class="pull-right nav navbar-right">
            <%if (data.isAuthenticated) { %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown"> <%= data.name%>%> <b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Logout</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <% } else { %>
            <!--<button id="loginSignup" type="button" class="btn btn-info">LogIn / SignUp</button>-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                LogIn / SignUp
            </button>
            <%} %>

        </ul>
        <!--<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>-->
    </div>

    <!--<div class="navbar-header" id="bs-example-navbar-collapse-1">-->

    <!--</div>-->

</nav>

<div class="container-fluid">
    <label for="gameId">GameId:</label>
    <!--<button id="gameInvite" type="button" class="btn btn-default"></button>-->
    <div id="gameId" style="display: inline"></div>
    <div id="scoreDiv" style="display: none">
        <label for="score">Scores:</label>
        <div id="myScore" style="display: inline; color:green"> 0</div>
        <div id="opponentScore" style="display: inline; color:red"> 0</div>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <input id="friendGameID" type="text" class="form-control" id="email" placeholder="Enter your friend's game id to join">
        </div>
    </form>
    </br>

    <div class="col-lg-4 col-xs-12 col-sm-12">
        <table id = 'game'>
        </table>
    </div>
    <!--<button id="gameInvite" ype="button" class="btn btn-primary">Invite a friend</button>-->
    <!--<table id='game'></table>-->
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Login/SignUp</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Login/SignUp</button>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>Facebook</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="helpModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Rules of game</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">Person who will invite will be player one</li>
                    <li class="list-group-item">Player one will first guess player two move</li>
                    <li class="list-group-item">Player two will make his move and then guess player one move</li>
                    <li class="list-group-item">This will continue till fixed number of chances</li>
                    <li class="list-group-item">Lesser the distance between guess and move, more will be score for that move</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id = "disableHelp">Got it</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Winner Modal-->

<div class="modal fade" id="winnerModel" tabindex="-1" role="dialog" aria-labelledby="winnerLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="winnerLabel">Game Over</h4>
            </div>
            <div class="modal-body">
                <h5>
                    <div id="winnerMessage">

                    </div>
                </h5>

                Your score :
                <div id="myScoreDialog" style="display: inline">
                    <!--Will be filled at end of game-->
                </div>
                <br>
                Opponent score :
                <div id="opponentScoreDialog" style="display: inline">
                    <!--Will be filled at end of game-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Play Again</button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="./../public/javascripts/json2.js"></script>
<script src="./../bower_components/jquery/dist/jquery.min.js"></script>
<script src="./../public/javascripts/jsstorage.js"></script>
<script src="./../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./../bower_components/toastr/toastr.min.js"></script>
<script src="./../public/javascripts/jsboard.js"></script>
<script src="./../public/javascripts/home.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.4.js"></script>
</html>
