<!DOCTYPE html>
<html>
<head>
    <title>TicTacToe</title>
    <link rel='stylesheet' href="./../bower_components/ionic/css/ionic.min.css" />
</head>
<body>
<div class="bar bar-header">
    <button class="button button-icon icon ion-navicon"></button>
    <div class="h1 title">Header Buttons</div>
    <button class="button button-clear button-positive">Edit</button>
</div>
</body>
<script src="./../bower_components/jquery/dist/jquery.min.js"></script>
</html>
